/*
 * This is is imported by virtue of "sass.etc" in "app.json".
 */
@mixin box-shadow($h-shadow,$v-shadow,$blur,$spread,$shadow-color) {
  $value: $h-shadow, $v-shadow, $blur, $spread, $shadow-color;
  -webkit-box-shadow: $value;
  -moz-box-shadow: $value;
  -ms-box-shadow: $value;
  box-shadow: $value;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}