/*
 * This is is imported by virtue of "sass.var" in "app.json".
 */

$enable-font-awesome: dynamic(true);
$base-color: #35baf6;
$lightest-color:#fff;
$warning-color:#FFB800;
$success-color:#5FB878;
$circle-border-radius:50%;